
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

.row {
    width: 100%;
}
.footer {
    background-color: $black;
    height: 800px;
    @include media-breakpoint-up(lg) {
        padding: 3rem 0;
        height: 200px;
       // position: relative;
    }
}

.socialDesktop {
    display: none;
    @include media-breakpoint-up(lg) {
        display: flex;
        margin-right: 3%;
    }
}


.socialMobile {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.iconFooter {
    margin-top: 20%;
    width: 40%;
    @include media-breakpoint-up(lg) {
        margin-left: 8% !important;  
        margin-top: 0; 
        width: 20%;
    }
}

.social {
    margin-bottom: 10%;
    margin-top: 20%;
    margin-left: 5%;
    img {
    width: 80%;
    @include media-breakpoint-up(lg) {
        width: 30%;
        position: relative;
        margin: 0;
        }
    }
}

.socialIcon:hover:after {
    content: "";
    display:block;
    width: 20px;
    margin: 2px;
    border-bottom:3px solid $white;
}

.attribution { 
    font-size: 11px; 
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
     a { 
         color: hsl(228, 45%, 44%); 
        }
}

 