$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

.header {
    background-image: url("../images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0 5%;
    @include media-breakpoint-up(lg) {
        background-image: url("../images/desktop/image-hero.jpg");
    }
}

.offcanvas {
    background-color: $black;
    width: 100%;
}

.navbar {
    padding-top: 11%;
    @include media-breakpoint-up(lg) {
        padding-top: 5%;
    }
}